mixin Boilerplate() 
    .tutorial(data-js="boilerplate")
        .tutorial--inner
            h1.tutorial--title
                | #{$t.intro.title}
            p.tutorial--description
                | #{$t.intro.text}
