@font-face {
	font-family: 'Helvetica Neue LT';
	src: url('../fonts/5ab020b6-67c6-4666-95ee-09cce0e39f2f.woff2') format('woff2'),
		url('../fonts/195ede8e-7c97-4ab9-9a81-ddff21e9e6bd.woff') format('woff');
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica Neue LT';
	src: url('../fonts/6b43fb6d-89b8-4c64-a8e0-c8fb1f66f40f.woff2') format('woff2'),
		url('../fonts/fb121aa0-95ce-488e-99c7-ee37079f1c62.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica Neue LT';
	src: url('../fonts/3388ada0-73d7-4be0-b300-c39245f82721.woff2') format('woff2'),
		url('../fonts/b7de6bf1-14bc-46af-9f84-8c3c59d683ff.woff') format('woff');
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica Neue LT';
	src: url('../fonts/0c80eb0f-cc19-42dc-bfce-56414939c78c.woff2') format('woff2'),
		url('../fonts/46d9f875-76c8-473c-b0e1-3885b62657d4.woff') format('woff');
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica Neue LT';
	src: url('../fonts/60d2a64e-8fb1-484e-99db-676419c3aeea.woff2') format('woff2'),
		url('../fonts/03a6568a-79a9-4d3d-bab2-d2e830b68e8e.woff') format('woff');
	font-weight: 700;
	font-display: swap;
}
